/* Guang Zhang, 1942372 */

main {
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 60%;
}

p {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    white-space: pre;
    font-size: 20px;
    color: darkblue;
}

/*button styling*/
button{
    color: white;
    background-color:rgb(110, 49, 49);
    border: 1px solid rgb(219, 213, 213);
    border-radius: 3px;
    width: 10%;
    padding:0.5%;
    margin:2% 0% 0% 2.5%;
}
button:hover{
    background-color:rgb(112, 60, 60);
}


/*input WPM styling*/
#speed{
    text-align: center;
    padding: 0.5%;
    color:white;
    border-radius: 3px;
    background: rgba(99, 82, 82, 0.5);
}

label {
    font-size: 15px;
    font-weight: bold;
    color:rgb(53, 41, 41);
}


/*footer text styling*/
footer {
    font-size: 15px;
    position: fixed;
    bottom: 0;
    color: darkblue;
}

a {
    color: green;
  }
a:hover {
    color: rgba(212, 16, 203, 0.541);
  }
  a:visited {
    color: darkgreen;
  }

